<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/styles/style.css')}}">

{%extends 'base.html'%}
{%block title%}Bus Management | Aspire Bus{%endblock%}
{%block content%}
<form action="#" method="post" class="bussearch-container">
    <input type="text" name="bus_number" placeholder="Bus Number" required>
    <input type="text" name="operator_name" placeholder="Operator Name" required>
    <input type="text" name="operator_number" placeholder="Operator Number" required>
    <input type="number" name="total_seats" placeholder="Total Seats" required>
    <input type="number" name="base_fare" placeholder="Base Fare" required>
    <button class="btn btn-success" type="submit" name="action" value="AddBus">Add Bus</button>
</form>
<p></p>
<div class="table-container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Bus ID</th> 
      <th scope="col">Bus Number</th> 
      <th scope="col">Operator Name</th>
      <th scope="col">Operator Number</th> 
      <th scope="col">Total Seats</th>
      <th scope="col">Base Fare</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for bus in busdetails %}
    <tr>
      <td>{{ bus[0] }}</td>
      <td>{{ bus[1] }}</td>
      <td>{{ bus[2] }}</td>
      <td>{{ bus[3] }}</td>
      <td>{{ bus[4] }}</td>
      <td>{{ bus[5] }}</td>
      <td>
        <form action="#" method="post">
            <input type="hidden" name="bus_id" value="{{bus[0]}}">
            <button class="btn btn-danger" type="submit" name="action" value="RemoveBus">Remove Bus</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{%endblock%}