<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/styles/comparison(2).css')}}">
{%extends 'base.html'%}
{%block title%}Bus Comparison | Aspire Bus{%endblock%}
{%block content%}
<div class="MainContainer">
    <div class="ComparisonColumn Heading">
        <div class="ColumnRow">
            <p>Features</p>
        </div>
        <div class="ColumnRow">
            <p>Operator Name</p>
        </div>
        <div class="ColumnRow">
            <p>Individual Fare</p>
        </div>
        <div class="ColumnRow">
            <p>Available Seats</p>
        </div>
        <div class="ColumnRow">
            <p>Source Location</p>
        </div>
        <div class="ColumnRow">
            <p>Destination Location</p>
        </div>
        <div class="ColumnRow">
            <p>Source Date</p>
        </div>
        <div class="ColumnRow">
            <p>Destination Date</p>
        </div>
        <div class="ColumnRow">
            <p>Source Time</p>
        </div>
        <div class="ColumnRow">
            <p>Destination Time</p>
        </div>
        <div class="ColumnRow">
            <p>Bus Type</p>
        </div>
        <div class="ColumnRow">
            <p>Reclining Seats</p>
        </div>
        <div class="ColumnRow">
            <p>Charging Points</p>
        </div>
        <div class="ColumnRow">
            <p>Wifi</p>
        </div>
        <div class="ColumnRow">
            <p>Blankets & Pillows</p>
        </div>
        <div class="ColumnRow">
            <p>Snacks</p>
        </div>
        <div class="ColumnRow">
            <p>Movie</p>
        </div>
        <div class="ColumnRow">
            <p>Reading Light</p>
        </div>
        <div class="ColumnRow">
            <p>Track My Bus</p>
        </div>
        <div class="ColumnRow">
            <p>M-Ticket</p>
        </div>
    </div>
    {%for bus in bus_details%}
    <div class="ComparisonColumn">
        <form action="/search-bus" method="post">
        <div class="ColumnRow">
            <input type="hidden" name="travel_id" value="{{bus[0][9]}}">
            <button class="gradient-btn gradient-btn-book" type="submit" name="action" value="SelectSeat">SELECT SEATS</button>
        </div>
        </form>
        <div class="ColumnRow">
            <p>{{bus[0][0]}}</p>
        </div>
        <div class="ColumnRow">
            <p>INR {{bus[0][7]}}</p>
        </div>
        <div class="ColumnRow">
            <p>{{bus[0][8]}} Seats</p>
        </div>
        <div class="ColumnRow">
            <p>{{bus[0][1]}}</p>
        </div>
        <div class="ColumnRow">
            <p>{{bus[0][2]}}</p>
        </div>
        <div class="ColumnRow">
            <p>{{bus[0][3]}}</p>
        </div>
        <div class="ColumnRow">
            <p>{{bus[0][4]}}</p>
        </div>
        <div class="ColumnRow">
            <p>{{bus[0][5]}}</p>
        </div>
        <div class="ColumnRow">
            <p>{{bus[0][6]}}</p>
        </div>
        <div class="ColumnRow">
            <p>{{bus[1]}}</p>
        </div>
        <div class="ColumnRow">
            <p>{{bus[2]}}</p>
        </div>
        <div class="ColumnRow">
            <p>{{bus[3]}}</p>
        </div>
        <div class="ColumnRow">
            <p>{{bus[4]}}</p>
        </div>
        <div class="ColumnRow">
            <p>{{bus[5]}}</p>
        </div>
        <div class="ColumnRow">
            <p>{{bus[6]}}</p>
        </div>
        <div class="ColumnRow">
            <p>{{bus[7]}}</p>
        </div>
        <div class="ColumnRow">
            <p>{{bus[8]}}</p>
        </div>
        <div class="ColumnRow">
            <p>{{bus[9]}}</p>
        </div>
        <div class="ColumnRow">
            <p>{{bus[10]}}</p>
        </div>
    </div>
    {%endfor%}
</div>
{%endblock%}