<!DOCTYPE html>
{%extends 'base.html'%}
{%block title%}Login | Aspire Bus{%endblock%}
{%block content%}
<div class="WalletForm">
<form action="#" method="post" class="">
    <center><p style="width: 250px; font-style: italic;">Greetings, Login Here!</p>
    Username  <input type="text" name="username" placeholder="Enter Username" autocomplete="off" required><p></p>
    Password  <input type="password" name="password" placeholder="Enter Password" required><p></p>
    <button class="btn btn-success" type="submit" name="Submit">Submit</button></center>
</form>
</div>
{%endblock%}
