<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/styles/style.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!DOCTYPE html>
{%extends 'base.html'%}
{%block title%}Login | Aspire Bus{%endblock%}
{%block content%}
<div class="login-container">
    <div class="LoginForm">
        <h1>Welcome Back!</h2>
        <h3>Log in to your account using username and password</h3>
    <form action="#" method="post">
        <label>
        <i class="fa-solid fa-user fa-lg"></i>
        <input type="text" class="LoginForm-field" name="username" placeholder="Username" autocomplete="off" required><p></p>
        </label>
        <label>
        <i class="fa-solid fa-lock fa-lg"></i>
        <input type="password" class="LoginForm-field" name="password" placeholder="Password" required><p></p>
        </label>
        <button class="gradient-btn gradient-btn-aspire-login" type="submit" name="Submit">Log In</button>
    </form>
    </div>
</div>
{%endblock%}