<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/styles/passenger-details.css')}}">
{%extends 'base.html'%}
{%block title%}
DUMMY DESIGN
{%endblock%}
{%block content%}
<div class="MainContainer">
  <form id="passenger-form" action="/seat-selection/passenger-details" method="post">
  {%for i in range(passenger_count)%}
  <div class="PassengerForm">
    <p>Passenger {{i+1}}</p>
    <input type="text" name="first_name_{{i}}" class="PassengerForm-Field" placeholder="First Name" pattern="[a-zA-Z\s]+" title="Use only alphabets" required></input>
    <input type="text" name="last_name_{{i}}" class="PassengerForm-Field" placeholder="Last Name" pattern="[a-zA-Z\s]+" title="Use only alphabets" required></input>
    <input type="number" name="age_{{i}}" id="age_{{i}}" min="1" max="150" class="PassengerForm-Field" placeholder="Age" title="Use Only Numerical Values"></input>
    <select name="gender_{{i}}" d="gender_{{i}}" class="PassengerForm-Field" required>
      <option value="" disabled selected>Select Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>
  </div>
  {%endfor%}
    <div class="TravelDetails">
        <div class="OperatorDetails">
        <p>Rathimeena Travels</p>
        </div>
        <div class="SourceDetails">
        <p>Pondicherry</p>
        <p>11/15/2001</p>
        <p>15:00:00</p>
        </div>
        <div class="Arrow">
        <i class="fa-solid fa-arrow-right"></i>
        </div>
        <div class="DestinationDetails">
        <p>Pondicherry</p>
        <p>11/15/2001</p>
        <p>15:00:00</p>
        </div>
        <div class="SeatDetails">
        <p>SELECTED SEAT NUMBERS</p>
        </div>
        <div class="SeatNumbers">
        {%for seats in selected_seats%}
        | {{seats}} | 
        {%endfor%}
        </div>
        <div class="PaymentButton">
        <button id="pay-now-button" class="gradient-btn gradient-btn-success" name="action" value="AddPassengerDetails" style="font-weight: bold;">PAY NOW</button>
        </div>
    </div>
  </form>
</div>
<script src="{{url_for('static',filename='/scripts/passenger-form.js')}}"></script>
{%endblock%}

