<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/styles/payments.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{%extends 'base.html'%}
{%block title%}Payments | Aspire Bus{%endblock%}
{%block content%}
<div class="MainContainer">

    {%if value == True%}
    <form action="/payments" method="post">
    <input type="hidden" name="action" id="container_id_input" value="FetchBalance">
    {%for details in carddetails%}
    <div class="DisplayCardContainer" id="{{details[0]}}" onclick="setContainerId(this)">
        <img src="{{url_for('static',filename='/images/aspire.png')}}" alt="AspireLogo" width="120px" height="70px" style="margin-left: 230px;">
        {%if details[4] == 'RuPay'%}
        <img src="{{url_for('static',filename='/images/rupay.png')}}" alt="RupayLogo" width="140px" height="80px" style="margin-left: 5px; margin-top: -120px;">
        {%elif details[4] == 'Mastercard'%}
        <img src="{{url_for('static',filename='/images/mastercard.png')}}" alt="MasterCardLogo" width="120px" height="70px" style="margin-left: 5px; margin-top: -65px;">
        {%elif details[4] == 'Visa'%}
        <img src="{{url_for('static',filename='/images/visa.png')}}" alt="VisaLogo" width="110px" height="80px" style="margin-left: 5px; margin-top: -85px;">
        {%endif%}
        <div class="CardNumber">
            <p>{{details[0]}}</p>
        </div>
        <div class="CardName">
            <p>{{details[1]}}</p>
        </div>
        <div class="CardValidity">
            <p>{{details[2]}}</p>
        </div>
    </div>
    {%endfor%}
    </form>

    {%else%}
    <div class="DisplayCardContainer">
        <img src="{{url_for('static',filename='/images/aspire.png')}}" alt="AspireLogo" width="120px" height="70px" style="margin-left: 230px;">
        <div class="CardNumber">
            <p>1234 5678 9012 3456</p>
        </div>
        <div class="CardName">
            <p>Not Added Yet</p>
        </div>
        <div class="CardValidity">
            <p>00/00</p>
        </div>
    </div>
    {%endif%}

    <form action="/payments" method="post">
    <div class="AddCardContainer">
        <h4>Add Card Details!</h4>
        <h6>Make your payment easier.</h6>
        <table style="border-spacing: 10in;">
            <tbody>
                <tr>
                    <!-- <td><i class="fa-solid fa-signature fa-lg"></i></td> -->   
                    <select  class="AddCardForm-field AddCardForm-Select" name="card_type" id="card_type">
                        <option class="AddCardForm-Option" value="" disabled selected>Select Card Type</option>
                        <option class="AddCardForm-Option" value="RuPay">RuPay</option>
                        <option class="AddCardForm-Option" value="Mastercard">Mastercard</option>
                        <option class="AddCardForm-Option" value="Visa">Visa</option>
                    </select>
                </tr>
                <tr>
                    <td><input type="text" class="AddCardForm-field" name="card_number" id="card_number" placeholder="Card Number" autocomplete="off" required></td>
                </tr>
                <tr>
                    <td><input type="text" class="AddCardForm-field" name="cardholder_name" placeholder="Cardholder Name" autocomplete="off" required></td>
                </tr>
                <tr>
                    <td><input type="month" class="AddCardForm-field" name="card_expiry" placeholder="Expiry Date" autocomplete="off" required></td>
                </tr>
                <tr>
                    <td><input type="password" class="AddCardForm-field" name="card_cvv" placeholder="CVV" autocomplete="off" required></td>
                </tr>
                <tr>
                    <td><button class="gradient-btn gradient-btn-aspire-login" name="action" value="AddCard" type="submit">Add Card</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    </form>

    <form action="/payments" method="post">
    <div class="TransactionContainer">
        <div class="ChosenCardNumber">
            <h4>Card Number</h4>
            <h5>{{card_number}}</h5>
        </div>
        <div class="CardBalance">
            <h4>Card Balance</h4>
            <h5><i class="fa-solid fa-indian-rupee-sign"></i>{{card_balance}}</h5>
        </div>
        <div class="WalletBalance">
            <h4>Wallet Balance</h4>
            <h5><i class="fa-solid fa-indian-rupee-sign"></i>{{wallet_balance}}</h5>
        </div>
        <div class="MoneyForm">
            <table style="border-spacing: 10in;">
                <tbody>
                    <tr>
                        <td><input type="number" class="AddCardForm-field" name="amount" placeholder="Amount" autocomplete="off" required></td>
                    </tr>
                    <tr>
                        <td><button class="gradient-btn gradient-btn-aspire-payment" name="action" value="AddWallet" type="submit">Add to Wallet</button></td>
                    </tr>
                    <tr>
                        <td><button class="gradient-btn gradient-btn-aspire-payment" name="action" value="AddCard" type="submit" disabled>Add to Card</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </form>
</div>
<script src="{{url_for('static',filename='/scripts/payments.js')}}"></script>
{%endblock%}