{%extends 'base.html'%}
{%block title%}Payment | Aspire Bus{%endblock%}
{%block content%}
<div class="ticket-container">
    <h1>Travel Ticket</h1>
    <div class="ticket-info">
      <div class="ticket-label">Booking ID</div>
      <div class="ticket-value">{{booking_id}}</div>
    </div>
    <div class="ticket-info">
        <div class="ticket-label">Operator </div>
        <div class="ticket-value">{{details1[0][0]}}</div>
    </div>
    <div class="ticket-info">
        <div class="ticket-label">Bus Number  </div>
        <div class="ticket-value">{{details1[0][1]}}</div>
    </div>
    <div class="ticket-info">
        <div class="ticket-label">Source </div>
        <div class="ticket-value">{{details1[0][2]}}</div>
    </div>
    <div class="ticket-info">
        <div class="ticket-label">Destination  </div>
        <div class="ticket-value">{{details1[0][3]}}</div>
    </div>
    <div class="ticket-info">
        <div class="ticket-label">Departure Date </div>
        <div class="ticket-value">{{details1[0][4]}}</div>
    </div>
    <div class="ticket-info">
        <div class="ticket-label">Arrival Date </div>
        <div class="ticket-value">{{details1[0][5]}}</div>
    </div>
    <div class="ticket-info">
        <div class="ticket-label">Departure Time </div>
        <div class="ticket-value">{{details1[0][6]}}</div>
    </div>
    <div class="ticket-info">
        <div class="ticket-label">Arrival Time </div>
        <div class="ticket-value">{{details1[0][7]}}</div>
    </div>
  </div>
  <br>
    <div class="ticket-container">
      <h1>Passenger Details</h1>
    {%for i in range(details2[0][1])%}
    <br>
    <div class="ticket-info">
      <div class="ticket-label">Passenger {{i+1}}</div>
    </div>
    <div class="ticket-info">
      <div class="ticket-label">Name </div>
      <div class="ticket-value">{{details3[i][0]}} {{details3[i][1]}}</div>
    </div>
    <div class="ticket-info">
      <div class="ticket-label">Age </div>
      <div class="ticket-value">{{details3[i][2]}}</div>
    </div>
    <div class="ticket-info">
      <div class="ticket-label">Gender </div>
      <div class="ticket-value">{{details3[i][3]}}</div>
    </div>
    {%endfor%}
    <br>
  </div>
  <br>
  <div class="ticket-container">
    <h1>Fare Details</h1>
    <div class="ticket-info">
      <div class="ticket-label">Individual Fare </div>
      <div class="ticket-value">{{details1[0][8]}}</div>
    </div>
    <div class="ticket-info">
      <div class="ticket-label">Passengers </div>
      <div class="ticket-value">{{details2[0][1]}}</div>
    </div>
    <div class="ticket-info">
        <div class="ticket-label">Total Fare (Fare x Passengers) </div>
        <div class="ticket-value">{{details2[0][0]}}</div>
    </div>
    <div class="ticket-info">
    <form action="" method="post">
      <input type="hidden" name="total_fare" value="{{details2[0][0]}}">
      <div class="ticket-label"><button class="btn btn-success" type="submit" name="action" value="Wallet">Wallet Payment</button></div>
      <!-- <div class="ticket-label"><button class="btn btn-success" type="submit" name="UPI">UPI</button></div>
      <div class="ticket-label"><button class="btn btn-success" type="submit" name="NetBanking">Net Banking</button></div> -->
    </form>
    </div>
  </div>
  <br>
{%endblock%}