<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/styles/style.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/styles/register.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!DOCTYPE html>
{%extends 'base.html'%}
{%block title%}Sign Up | Aspire Bus{%endblock%}
{%block content%}
{% if value == True %}
    <script>
        alert("Username already exists, Kindly choose a different username!");
    </script>
{%endif%}
<form action="" method="post">
    <div class="SignUpContainer-1">
        <h2>Profile Details!</h2>
        <h4>Start your journey by filling in the details.</h4>
        <div class="RegisterField-1">
            <table style="border-spacing: 10in;">
                <tbody>
                    <tr>
                        <td><i class="fa-solid fa-signature fa-lg"></i></td>
                        <td><input type="text" class="RegisterForm-field" name="first_name" placeholder="First Name" autocomplete="off" required></td>
                    </tr>
                    <tr>
                        <td><i class="fa-solid fa-signature fa-lg"></i></td>
                        <td><input type="text" class="RegisterForm-field" name="last_name" placeholder="Last Name" autocomplete="off" required></td>
                    </tr>
                    <tr>
                        <td><i class="fa-solid fa-calendar-days fa-lg"></i></td>
                        <td><input type="date" class="RegisterForm-field" name="dob" placeholder="Date of Birth" autocomplete="off" required></td>
                    </tr>
                    <tr>
                        <td><i class="fa-solid fa-envelope fa-lg"></i></td>
                        <td><input type="email" class="RegisterForm-field" name="email" placeholder="E-Mail ID" autocomplete="off" required></td>
                    </tr>
                    <tr>
                        <td><i class="fa-solid fa-phone fa-lg"></i></td>
                        <td><input type="number" class="RegisterForm-field" name="phone_number" placeholder="Phone Number" autocomplete="off" required></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="SignUpContainer-2">
        <h2>Login Credentials!</h2>
        <h4>Book your journey by creating a login.</h4>
        <div class="RegisterField-2">
            <table style="border-spacing: 10in;">
                <tbody>
                    <tr>
                        <td><i class="fa-solid fa-user fa-lg"></i></td>
                        <td><input type="text" class="RegisterForm-field" name="username" placeholder="Create Username" autocomplete="off" required></td>
                    </tr>
                    <tr>
                        <td><i class="fa-solid fa-lock fa-lg"></i></td>
                        <td><input type="password" class="RegisterForm-field" name="password" placeholder="Create Password" autocomplete="off" required></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="gradient-btn gradient-btn-aspire-login" name="Submit" type="submit">Sign Up</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
{%endblock%}