<!DOCTYPE html>
{%extends 'base.html'%}
{%block title%}Register | Aspire Bus{%endblock%}
{%block content%}
<div class="SignUpForm">
<form action="#", method="post" class="RegisterForm">
    <center><p style="width: 250px; font-style: italic;">Get Started!</p></center>
    <label for="input-field">First Name</label>
    <input type="text" name="first_name" placeholder="Enter First Name" required><p></p>
    <label for="input-field">Last Name</label>
    <input type="text" name="last_name" placeholder="Enter Last Name" required><p></p>
    <label for="input-field">Date of Birth </label>
    <input type="date" name="dob" placeholder="Enter DOB" required><p></p>
    <label for="input-field">E-Mail ID</label>
    <input type="email" name="email" placeholder="Enter E-Mail ID" required><p></p>
    <label for="input-field">Phone Number</label>
    <input type="number" name="phone_number" placeholder="Enter Phone Number" required><p></p>
    <label for="input-field">Username</label>
    <input type="text" name="username" placeholder="Create Username" required><p></p>
    <label for="input-field">Password</label>
    <input type="password" name="password" placeholder="Create Password" required><p></p> 
    <center><button class="btn btn-success" type="submit" name="Submit">Sign Up</button></center>
</form>
</div>
{%endblock%}