<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/styles/search-bus.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://kit.fontawesome.com/94a8e5c5a1.js" crossorigin="anonymous"></script>
{%extends 'base.html'%}
{%block title%}Search Bus | Aspire Bus{%endblock%}
{%block content%}
<div class="SearchBarContainer">
  <form action="" method="post">
    <input type="text" class="SearchForm-Field" name="source_location" placeholder="From" required>
    <input type="text" class="SearchForm-Field" name="destination_location" placeholder="To" required>
    <input type="date" class="SearchForm-Field" name="source_date" placeholder="MM/DD/YYYY" id="my-date-input" min="YYY-MM-DD" required>
    <button class="btn btn-aspire" type="submit" name="action" value="SearchBus">SEARCH BUS</button>
  </form>
</div>

<div class="FilterHeading">
  <p>FILTERS<i class="fa-solid fa-arrow-down"></i> | SORTING<i class="fa-solid fa-arrow-right"></i></p>
</div>

<form action="" method="post">
<div class="SortContainer">
  <ul style="list-style-type: none;" class="Sorting-ul">
    <li class="BusesFound">
      {{count}} BUSES FOUND
    </li>
    {%if option=='EarlyDeparture'%}
    <li>
      <button class="gradient-btn-searchbus gradient-btn-searchbus-resetsort" type="submit" name="action" value="LateDeparture"><i class="fa-solid fa-arrow-up"></i>DEPARTURE</button>
    </li>
    {%elif option=='LateDeparture'%}
    <li>
      <button class="gradient-btn-searchbus gradient-btn-searchbus-resetsort" type="submit" name="action" value="EarlyDeparture"><i class="fa-solid fa-arrow-down"></i>DEPARTURE</button>
    </li>
    {%else%}
    <li>
      <button class="gradient-btn-searchbus gradient-btn-searchbus-sort" type="submit" name="action" value="EarlyDeparture">DEPARTURE</button>
    </li>
    {%endif%}

    {%if option=='EarlyArrival'%}
    <li>
      <button class="gradient-btn-searchbus gradient-btn-searchbus-resetsort" type="submit" name="action" value="LateArrival"><i class="fa-solid fa-arrow-up"></i>ARRIVAL</button>
    </li>
    {%elif option=='LateArrival'%}
    <li>
      <button class="gradient-btn-searchbus gradient-btn-searchbus-resetsort" type="submit" name="action" value="EarlyArrival"><i class="fa-solid fa-arrow-down"></i>ARRIVAL</button>
    </li>
    {%else%}
    <li>
      <button class="gradient-btn-searchbus gradient-btn-searchbus-sort" type="submit" name="action" value="EarlyArrival">ARRIVAL</button>
    </li>
    {%endif%}

    {%if option=='CheapFare'%}
    <li>
      <button class="gradient-btn-searchbus gradient-btn-searchbus-resetsort" type="submit" name="action" value="ExpensiveFare"><i class="fa-solid fa-arrow-up"></i>FARE</button>
    </li>
    {%elif option=='ExpensiveFare'%}
    <li>
      <button class="gradient-btn-searchbus gradient-btn-searchbus-resetsort" type="submit" name="action" value="CheapFare"><i class="fa-solid fa-arrow-down"></i>FARE</button>
    </li>
    {%else%}
    <li>
      <button class="gradient-btn-searchbus gradient-btn-searchbus-sort" type="submit" name="action" value="CheapFare">FARE</button>
    </li>
    {%endif%}

    {%if option=='LowSeats'%}
    <li>
      <button class="gradient-btn-searchbus gradient-btn-searchbus-resetsort" type="submit" name="action" value="HighSeats"><i class="fa-solid fa-arrow-up"></i>SEAT COUNT</button>
    </li>
    {%elif option=='HighSeats'%}
    <li>
      <button class="gradient-btn-searchbus gradient-btn-searchbus-resetsort" type="submit" name="action" value="LowSeats"><i class="fa-solid fa-arrow-down"></i>SEAT COUNT</button>
    </li>
    {%else%}
    <li>
      <button class="gradient-btn-searchbus gradient-btn-searchbus-sort" type="submit" name="action" value="LowSeats">SEAT COUNT</button>
    </li>
    {%endif%}
    <li>
      <button class="gradient-btn-searchbus gradient-btn-searchbus-resetsort" type="submit" name="action" value="ResetSort">RESET SORT</button>
    </li>
    <form action="" method="post">
      <li>
          <input type="hidden" name="CompareOptions" id="compare-options">
          <button class="gradient-btn gradient-btn-compare" id="compare-now" name="action" value="CompareNow" disabled>COMPARE NOW</button>
      </li>
    </form>
  </ul>
</div>
</form>

<form id="myForm" action="/search-bus" method="post">
<div class="FilterContainer" id="filters">
  <!-- <div class="FilterLabel">
    <input type="hidden" name="selected_options" value="">
    <button id="next-button" class="btn btn-success" onclick=SubmitFilter() name="action" value="Filters" disabled>Apply Filters</button>
  </div> -->
  <div class="FilterLabel">DEPARTURE TIME</div>
  <div class="FilterInput">
    <ul style="list-style-type: none;">
      <li>
        <input class="CheckboxInput" type="checkbox" title="Before 6 AM" value="dep_before_6am" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="before_6am"><i class="fa-solid fa-cloud-sun"></i> Before 6 AM</label>
      </li>
      <li>
        <input class="CheckboxInput" type="checkbox" title="6 AM to 12 PM" value="dep_6am_to_12pm" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="6am_to_12pm"><i class="fa-solid fa-sun"></i> 6 AM to 12 PM</label>
      </li>
      <li>
        <input class="CheckboxInput" type="checkbox" title="12 PM to 6 PM" value="dep_12pm_to_6Pm" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="12pm_to_6Pm"><i class="fa-solid fa-cloud-moon"></i> 12 PM to 6 PM</label>
      </li>
      <li>
        <input class="CheckboxInput" type="checkbox" title="After 6 PM" value="dep_after_6pm" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="after_6pm"><i class="fa-solid fa-moon"></i> After 6 PM</label>
      </li>
    </ul>
  </div>
  <div class="FilterLabel">ARRIVAL TIME</div>
  <div class="FilterInput">
    <ul style="list-style-type: none;">
      <li>
        <input class="CheckboxInput" type="checkbox" title="Before 6 AM" value="arr_before_6am" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="before_6am"><i class="fa-solid fa-cloud-sun"></i> Before 6 AM</label>
      </li>
      <li>
        <input class="CheckboxInput" type="checkbox" title="6 AM to 12 PM" value="arr_6am_to_12pm" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="6am_to_12pm"><i class="fa-solid fa-sun"></i> 6 AM to 12 PM</label>
      </li>
      <li>
        <input class="CheckboxInput" type="checkbox" title="12 PM to 6 PM" value="1arr_2pm_to_6Pm" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="12pm_to_6Pm"><i class="fa-solid fa-cloud-moon"></i> 12 PM to 6 PM</label>
      </li>
      <li>
        <input class="CheckboxInput" type="checkbox" title="After 6 PM" value="arr_after_6pm" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="after_6pm"><i class="fa-solid fa-moon"></i> After 6 PM</label>
      </li>
    </ul>
  </div>
  <div class="FilterLabel">BUS TYPES</div>
  <div class="FilterInput">
    <ul style="list-style-type: none;">
      <li>
        <input class="CheckboxInput" type="checkbox" title="AC Seater" value="ac_seater" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="ac_seater"><i class="fa-solid fa-bus"></i> AC Seater</label>
      </li>
      <li>
        <input class="CheckboxInput" type="checkbox" title="AC Sleeper" value="ac_sleeper" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="ac_sleeper"><i class="fa-solid fa-bus"></i> AC Sleeper</label>
      </li>
      <li>
        <input class="CheckboxInput" type="checkbox" title="Non-AC Seater" value="non_ac_seater" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="non_ac_seater"><i class="fa-solid fa-bus-simple"></i></i> Non-AC Seater</label>
      </li>
      <li>
        <input class="CheckboxInput" type="checkbox" title="Non-AC Sleeper" value="non_ac_sleeper" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="non_ac_sleeper"><i class="fa-solid fa-bus-simple"></i></i> Non-AC Sleeper</label>
      </li>
    </ul>
  </div>
  <div class="FilterLabel">OPERATORS</div>
  <div class="FilterInput">
    <ul style="list-style-type: none;">
      {%for operator in operatordetails%}  
      <li>
        <input class="CheckboxInput" type="checkbox" title="{{operator[0]}}" value="{{operator[0]}}" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="operator-{{ loop.index }}">{{operator[0]}}</label>
      </li>
      {%endfor%}
    </ul>
  </div>
  <div class="FilterLabel">AMENITIES</div>
  <div class="FilterInput">
    <ul style="list-style-type: none;">
      <li>
        <input class="CheckboxInput" type="checkbox" title="Reclining Seat" value="reclining_seat" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="reclining_seat"><i class="fa-solid fa-chair fa-lg"></i> Reclining Seats</label>
      </li>
      <li>
        <input class="CheckboxInput" type="checkbox" title="Charging Stations" value="charging_station" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="charging_station"><i class="fa-solid fa-charging-station fa-lg"></i> Charging Stations</label>
      </li>
      <li>
        <input class="CheckboxInput" type="checkbox" title="WiFi" value="wifi" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="wifi"><i class="fa-solid fa-wifi fa-lg"></i></i> WiFi</label>
      </li>
      <li>
        <input class="CheckboxInput" type="checkbox" title="Blankets & Pillows" value="blankets_pillows" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="blankets_pillows"><i class="fa-solid fa-mattress-pillow fa-lg"></i></i> Blankets & Pillows</label>
      </li>
      <li>
        <input class="CheckboxInput" type="checkbox" title="Snacks" value="snacks" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="snacks"><i class="fa-solid fa-cookie"></i></i> Snacks</label>
      </li>
      <li>
        <input class="CheckboxInput" type="checkbox" title="Movie" value="movie" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="movie"><i class="fa-solid fa-ticket fa-lg"></i></i> Movie</label>
      </li>
      <li>
        <input class="CheckboxInput" type="checkbox" title="Reading Light" value="reading_light" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="reading_light"><i class="fa-solid fa-lightbulb fa-lg"></i></i> Reading Light</label>
      </li>
      <li>
        <input class="CheckboxInput" type="checkbox" title="Track My Bus" value="track_my_bus" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="track_my_bus"><i class="fa-solid fa-location-crosshairs fa-lg"></i></i> Track My Bus</label>
      </li>
      <li>
        <input class="CheckboxInput" type="checkbox" title="M-Ticket" value="m_ticket" name="checkbox_name"></input>
        <label class="CheckboxLabel" for="m_ticket"><i class="fa-solid fa-mobile-screen-button fa-lg"></i></i> M-Ticket</label>
      </li>
    </ul>
  </div>
</div>
</form>
{%if value == False:%}

<div class="NoneContainer">
  <h4><i class="fa-solid fa-ticket fa-lg"></i> Sorry, buses are not available for the preferred destination and date of travel!</h4>
  <h6>Continue searching above.</h6>
</div>

{%elif value ==  True:%}

{% for travel in traveldetails %}
<div class="BusContainer">
  <div class="Operator">  
    <p>{{travel[0]}}</p>
  </div>
  <div class="BusType">
    <p>{{travel[11]}}</p>
  </div>
  <div class="Amenities">
    <ul class="Amenities-ul" style="list-style-type: none;">
        {%if travel[12]=='Yes':%}
        <li>
        <i class="fa-solid fa-chair fa-lg" title="Reclining Seats"></i>
        </li>
        {%endif%}
        {%if travel[13]=='Yes':%}
        <li>
        <i class="fa-solid fa-charging-station fa-lg" title="Charging Stations"></i>
        </li>
        {%endif%}
        {%if travel[14]=='Yes':%}
        <li>
        <i class="fa-solid fa-wifi fa-lg" title="WiFi"></i>
        </li>
        {%endif%}
        {%if travel[15]=='Yes':%}
        <li>
        <i class="fa-solid fa-mattress-pillow fa-lg" title="Blankets & Pillows"></i>
        </li>
        {%endif%}
        {%if travel[16]=='Yes':%}
        <li>
        <i class="fa-solid fa-cookie" title="Snacks"></i>
        </li>
        {%endif%}
        {%if travel[17]=='Yes':%}
        <li> 
        <i class="fa-solid fa-ticket fa-lg" title="Movie"></i>
        </li>
        {%endif%} 
        {%if travel[18]=='Yes':%}
        <li>
        <i class="fa-solid fa-lightbulb fa-lg" title="Reading Light"></i>
        </li>
        {%endif%}
        {%if travel[19]=='Yes':%}
        <li>
        <i class="fa-solid fa-location-crosshairs fa-lg" title="Track My Bus"></i>
        </li>
        {%endif%}
        {%if travel[20]=='Yes':%}
        <li>
        <i class="fa-solid fa-mobile-screen-button fa-lg" title="M-Ticket"></i>
        </li>
        {%endif%}
    </ul>
  </div>
  <div class="SourceColumn">
    <div class="SourceTime">
      <p>{{travel[5]}}</p>
    </div>
    <div class="SourceLocation">
      <p>{{travel[1]}}</p>
    </div>
    <div class="SourceDate">
      <p>{{travel[3]}}</p>
    </div>
  </div>
  <div class="DestinationColumn">
    <div class="DestinationTime">
      <p>{{travel[6]}}</p>
    </div>
    <div class="DestinationLocation">
      <p>{{travel[2]}}</p>
    </div>
    <div class="DestinationDate">
      <p>{{travel[4]}}</p>
    </div>
  </div>
  <div class="FareColumn">
    <div class="Fare">
      <p>INR {{travel[7]}}</p>
    </div>
    <div class="Available">
      <p>{{travel[8]}} Seats Available</p>
    </div>
  </div>
  <div class="ButtonsColumn">
    {%if user_id == None%}
    <form action="" method="post">
    <div class="SeatButton">
      <input type="hidden" name="travel_id" value="{{travel[9]}}">
      <button class="gradient-btn-searchbus gradient-btn-searchbus-select" type="submit" name="action" value="SelectSeat" disabled>SELECT SEATS</button>
    </div>
    </form>
    <div class="CompareButton">
      <button class="gradient-btn-searchbus gradient-btn-searchbus-compare" disabled>ADD TO COMPARE</button>
    </div>
    {%else%}
    <form action="" method="post">
    <div class="SeatButton">
      <input type="hidden" name="travel_id" value="{{travel[9]}}">
      <button class="gradient-btn-searchbus gradient-btn-searchbus-select" type="submit" name="action" value="SelectSeat">SELECT SEATS</button>
    </div>
    </form>
    <div class="CompareButton Visible">
      <button class="gradient-btn-searchbus gradient-btn-searchbus-compare" value="{{travel[9]}}" id="add-compare" onclick="AddCompare(this)">ADD TO COMPARE</button>
    </div>
    {%endif%}
  </div>
</div>
{%endfor%}
{%endif%}

<script src="{{url_for('static',filename='/scripts/filters.js')}}"></script>
<script src="{{url_for('static',filename='/scripts/compare.js')}}"></script>
{%endblock%}