<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/styles/seat-selection.css')}}">
{% extends 'base.html' %}
{% block title %}Seat Selection | Aspire Bus{% endblock %}
{% block content %}
<div class="HeadContainer">
  <p class="SourceLocation">{{traveldetails[0][0]}}</p>
  <p><i class="fa-solid fa-arrow-right-long fa-xl"></i></p>
  <p class="DestinationLocation">{{traveldetails[0][1]}}</p>
  <p class="SourceDate">{{traveldetails[0][2]}}</p>
  <p class="OperatorName">{{traveldetails[0][3]}}</p>
<form action="/passenger-details" method="post">
  <input type="hidden" name="selectedseats" id="selectedseats" value="">
  <button id="next-button" class="gradient-btn gradient-btn-booknow" onclick=SubmitSelectedSeats() name="action" value="SeatSelection" disabled>BOOK SEATS</button>
</form>
</div>
<div class="seat-container">
<table class="table-class">
  <tr>
    <td></td>
    {% set row_count = 0 %}
    {% for seat in seatdetails %}
      {% if loop.index % 10 == 1 %}
        {% set row_count = row_count + 1 %}
        </tr><tr>
      {% endif %}
      {% if seat[1] == 'Available' %}
        <td class="seat seat-available" id= "{{seat[0]}}" data-id="{{ seat[0] }}" title="Seat No: {{seat[0]}} | Fare: INR {{traveldetails[0][4]}}">{{ seat[0] }}</td>
      {% elif seat[1] == 'Booked' %}
        <td class="seat seat-booked">{{ seat[0] }}</td>
      {% else %}
        <td class="seat seat-temporary">{{ seat[0] }}</td>
      {% endif %}
    {% endfor %}
    <td></td>
  </tr>
</table>
</div>
<script src="{{url_for('static',filename='/scripts/seat-selection.js')}}"></script>
{% endblock %}
