{%extends 'base.html'%}
{%block title%}Ticket View | Aspire Bus{%endblock%}
{%block content%}
<div class="ticket-container">
    <div class="ticket-container2">
      <img src="{{url_for('static',filename='/images/aspire.png')}}" alt="Logo" width="224px" height="116px">
    </div>
    <h1>Travel Ticket</h1>
    <div class="ticket-info">
      <div class="ticket-label">Booking ID</div>
      <div class="ticket-value">{{booking_id}}</div>
    </div>
    <div class="ticket-info">
      <div class="ticket-label">Payment Status</div>
      {%if details2[0][2] == 'Completed'%}
      <div class="ticket-value text-success">{{details2[0][2]}}</div>
      {%else%}
      <div class="ticket-value text-warning">{{details2[0][2]}}</div>
      {%endif%}
    </div>
    <div class="ticket-info">
      <div class="ticket-label">Booking Status</div>
      {%if details2[0][3] == 'Confirmed'%}
      <div class="ticket-value text-success">{{details2[0][3]}}</div>
      {%else%}
      <div class="ticket-value text-danger">{{details2[0][3]}}</div>
      {%endif%}
    </div>
    <div class="ticket-info">
        <div class="ticket-label">Operator </div>
        <div class="ticket-value">{{details1[0][0]}}</div>
    </div>
    <div class="ticket-info">
        <div class="ticket-label">Bus Number  </div>
        <div class="ticket-value">{{details1[0][1]}}</div>
    </div>
    <div class="ticket-info">
      <div class="ticket-label">Bus Type </div>
      <div class="ticket-value">{{details1[0][9]}}</div>
    </div>
    <div class="ticket-info">
        <div class="ticket-label">Source </div>
        <div class="ticket-value">{{details1[0][2]}}</div>
    </div>
    <div class="ticket-info">
        <div class="ticket-label">Destination  </div>
        <div class="ticket-value">{{details1[0][3]}}</div>
    </div>
    <div class="ticket-info">
        <div class="ticket-label">Departure Date </div>
        <div class="ticket-value">{{details1[0][4]}}</div>
    </div>
    <div class="ticket-info">
        <div class="ticket-label">Arrival Date </div>
        <div class="ticket-value">{{details1[0][5]}}</div>
    </div>
    <div class="ticket-info">
        <div class="ticket-label">Departure Time </div>
        <div class="ticket-value">{{details1[0][6]}}</div>
    </div>
    <div class="ticket-info">
        <div class="ticket-label">Arrival Time </div>
        <div class="ticket-value">{{details1[0][7]}}</div>
    </div>
    <br>
    <h1>Passenger Details</h1>
    {%for i in range(details2[0][1])%}
    <br>
    <div class="ticket-info">
      <div class="ticket-label">Passenger {{i+1}}</div>
    </div>
    <div class="ticket-info">
      <div class="ticket-label">Name </div>
      <div class="ticket-value">{{details3[i][0]}} {{details3[i][1]}}</div>
    </div>
    <div class="ticket-info">
      <div class="ticket-label">Age </div>
      <div class="ticket-value">{{details3[i][2]}}</div>
    </div>
    <div class="ticket-info">
      <div class="ticket-label">Gender </div>
      <div class="ticket-value">{{details3[i][3]}}</div>
    </div>
    {%endfor%}
    <br>
    <h1>Fare Details</h1>
    <div class="ticket-info">
      <div class="ticket-label">Individual Fare </div>
      <div class="ticket-value">{{details1[0][8]}}</div>
    </div>
    <div class="ticket-info">
      <div class="ticket-label">Passengers </div>
      <div class="ticket-value">{{details2[0][1]}}</div>
    </div>
    <div class="ticket-info">
        <div class="ticket-label">Total Fare (Fare x Passengers) </div>
        <div class="ticket-value">{{details2[0][0]}}</div>
    </div>
    <div class="ticket-info">
    </div>
  </div>
  <br>
{%endblock%}