<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/styles/transaction-history.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{%extends 'base.html'%}
{%block title%}Transaction History | Aspire Bus{%endblock%}
{%block content%}
<div class="TransactionHistory">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Transaction ID</th>
      <th scope="col">Amount</th>
      <th scope="col">Action</th>
      <th scope="col">Balance</th>
      <th scope="col">Description</th>
      <th scope="col">Transaction Time</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactiondetails %}
    <tr>
      <td>{{ transaction[0] }}</td>
      {% if transaction[2] == 'Credit' %}
        <td><span class="text-success"><i class="fa-solid fa-indian-rupee-sign"></i>{{ transaction[1] }}+</span></td>
        {% elif transaction[2] == 'Debit' %}
        <td><span class="text-danger"><i class="fa-solid fa-indian-rupee-sign"></i>{{ transaction[1] }}-</span></td>
      {% endif %}
      <td>{{ transaction[2] }}</td>
      <td><i class="fa-solid fa-indian-rupee-sign"></i>{{ transaction[3] }}</td>
      <td>{{ transaction[4] }}</td>
      <td>{{ transaction[5] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{%endblock%}