<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/styles/style.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/styles/travel-management.css')}}">

{%extends 'base.html'%}
{%block title%}Travel Management | Aspire Bus{%endblock%}
{%block content%}
<form action="#" method="post">
<div class="AddTravelContainer">

    <div class="AddTravelColumn">
      <input type="number" name="bus_id" class="AddTravelForm-Field" placeholder="Bus ID" required>
      <input type="number" name="travel_distance" class="AddTravelForm-Field" placeholder="Travel Distance" required>
    </div>

    <div class="AddTravelColumn">
      <input type="text" name="source_location" class="AddTravelForm-Field" placeholder="Source Location" required>
      <input type="text" name="destination_location" class="AddTravelForm-Field" placeholder="Destination Location" required>
    </div>

    <div class="AddTravelColumn">
      <input type="date" name="source_date" class="AddTravelForm-Field" placeholder="Source Date" required>
      <input type="date" name="destination_date" class="AddTravelForm-Field" placeholder="Destination Date" required>
    </div>

    <div class="AddTravelColumn">
      <input type="text" name="source_time" class="AddTravelForm-Field" placeholder="Source Time" required>
      <input type="text" name="destination_time" class="AddTravelForm-Field" placeholder="Destination Time" required>
    </div>

    <div class="AddTravelColumn">
        <button class="gradient-btn-tm gradient-btn-addtravel" type="submit" name="action" value="AddTravel">ADD TRAVEL</button>
    </div>
</div>
</form>

<div class="TransactionHistory">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Travel ID</th> 
      <th scope="col">Bus ID</th> 
      <th scope="col">Operator Name</th>
      <th scope="col">Source Location</th> 
      <th scope="col">Destination Location</th>
      <th scope="col">Source Date</th>
      <th scope="col">Destination Date</th>
      <th scope="col">Source Time</th>
      <th scope="col">Destination Time</th>
      <th scope="col">Travel Distance</th>
      <th scope="col">Total Fare</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for travel in traveldetails %}
    <tr>
      <td>{{ travel[0] }}</td>
      <td>{{ travel[1] }}</td>
      <td>{{ travel[2] }}</td>
      <td>{{ travel[3] }}</td>
      <td>{{ travel[4] }}</td>
      <td>{{ travel[5] }}</td>
      <td>{{ travel[6] }}</td>
      <td>{{ travel[7] }}</td>
      <td>{{ travel[8] }}</td>
      <td>{{ travel[9] }}</td>
      <td>{{ travel[10] }}</td>
      <td>
        <form action="#" method="post">
            <input type="hidden" name="travel_id" value="{{travel[0]}}">
            <button class="gradient-btn gradient-btn-removetravel" type="submit" name="action" value="RemoveTravel">REMOVE</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{%endblock%}