<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='/styles/transaction-history.css')}}">
{%extends 'base.html'%}
{%block title%}User Management | Aspire Bus{%endblock%}
{%block content%}
<div class="TransactionHistory">
<table class="table">
  <thead>
    <tr>
      <th scope="col">User ID</th> 
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email ID</th>
      <th scope="col">User Power</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user[0] }}</td>
      <td>{{ user[1] }}</td>
      <td>{{ user[2] }}</td>
      <td>{{ user[3] }}</td>
      <td>{{ user[4] }}</td>
      <td>
        <form action="#" method="post">
            <input type="hidden" name="user_id" value="{{user[0]}}">
            {% if user[4] == 'User' %}
            <button class="btn btn-success" type="submit" name="action" value="AddAdmin">Promote to Admin</button>
            <button class="btn btn-danger" type="submit" name="action" value="KickUser">Kick User</button>
            {% else %}
            <button class="btn btn-warning" type="submit" name="action" value="RemoveAdmin">Demote to User</button>
            <button class="btn btn-danger" type="submit" name="action" value="KickUser">Kick User</button>
            {% endif %}
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{%endblock%}