<!DOCTYPE html>
{%extends 'base.html'%}
{%block title%}Wallet | Aspire Bus{%endblock%}
{% block content %}
<div class="WalletForm">
<form action="#" method="post">
    <center><p style="width: 250px; font-style: italic;">Current balance: {{balance}}</p></center>
    <center><input type="number" name="amount" placeholder="Enter Amount" style="width: 250px;" required></center><p></p>
    <button class="btn btn-success" type="submit" name="add">Add Money</button>
    <button class="btn btn-danger" type="submit" name="remove">Remove Money</button>
</form>
</div>
{% endblock %}