.SeatContainer{
    margin-left: 30%;
    width: 40%;
    height: 60px;
    border: 1px solid rgb(190, 190, 190);
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.SeatManagementForm-Field {
    margin-top: 10px;
    height: 35px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    outline: 0;
    transition: .2s;
    /* width: 20%; */
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
  
.SeatManagementForm-Field:focus {
border-color: #003380;
}

.gradient-btn-fetchseat {
    margin-left: 10px;
    height: 35px;
    background-image: linear-gradient(to right, #004d80 0%, #506ef7 51%, #003380 100%);
    font-weight: bold;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
  }

.gradient-btn-tm {
  text-decoration: none;
  transition: 0.5s;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  background-size: 200% auto;
  font-size: 15px;
 }

.gradient-btn-tm:hover {
  background-position: right center; /* change the direction of the change here */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}