.TransactionHistory{
    margin-top: 20px;
    /* background-color: aqua; */
    height: max-content;
    border: 1px solid rgb(190, 190, 190);
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 1.0s;
    background-size: 200% auto;
    overflow: hidden;
}

.AddTravelContainer{
    width: 100%;
    height: 125px;
    border: 1px solid rgb(190, 190, 190);
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    display: flex;
  }
  
.AddTravelColumn{
    width: 20%;
    height: 100%;
    box-sizing: border-box;
    /* padding: 10px;   */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.AddTravelForm-Field {
    height: 35px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-family: 'Rubik', sans-serif;
    outline: 0;
    transition: .2s;
    width: 80%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;  
}
  
.AddTravelForm-Field:focus {
border-color: #855aa6;
}

.gradient-btn-addtravel {
    background-image: linear-gradient(to right, #b05bb0 0%, #506ef7 51%, #800080 100%);
    width: 70%;
    height: 30%;
    font-weight: bold;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
  }

.gradient-btn-tm {
  text-decoration: none;
  transition: 0.5s;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 24px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  background-size: 200% auto;
  font-size: 15px;
 }

.gradient-btn-tm:hover {
  background-position: right center; /* change the direction of the change here */
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.gradient-btn-removetravel {
    background-image: linear-gradient(to right, #e70b0be4 0%, #e70b0ba6 51%, #e70b0b 100%);
    width: 100%;
    height: 35px;
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
    font-weight: bold;
  }

.gradient-btn-removetravel:hover {
    background-image: linear-gradient(to right, #e70b0bd8 0%, #e70b0ba6 51%, #e70b0b 100%);
    justify-content: center !important;
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
  }